body {
  background-image: url("../images/bac.svg");
  background-repeat: no-repeat;
  background-color:hsl(225, 100%, 94%);
  display:flex;
  flex-direction:column-reverse;
  align-items: center;
  justify-content:center;
  min-height:100vh;
}
@font-face {
  font-family:RedHatDisplay;
  src: url(../font/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf);
}
main{
  flex-direction:column;
  align-items: center;
  justify-content:center;
  margin:5em;
 }

.dance{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-color: hsl(0, 0%, 100%);
  border-radius:5%;
  width:100%;  
 }
 .dance img
  {
    display:flex;
    flex-direction:column;
    justify-content:center;
    border-radius:5% 5% 0% 0%;
    max-width:100%; 
  }
 .text_class{
   display: block;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
   }
  #main_text{
    font-family:RedHatDisplay;
    font-size: 20px;
    font-weight: bold;
 }
 #summary{
    font-family:RedHatDisplay;
    font-size: 16px;
    font-weight:500px;
    color: hsl(220, 15%, 55%); 
 }
 
.container{
   display: block;
   flex-direction: column;
   justify-content: center;
   background-color:hsl(225, 100%, 98%);
   border-radius:10%;
   width:100%;
   max-height:100px;
   
 }
.container img{
  display:block;
  margin-left:30px;
  margin-top:10px;
  padding-top:20px;
  width:auto;
  height:auto;
}

  .text{
  display:block;
  margin-left:auto;
  margin-right:auto;
  transform: translate(25%, -60%);
  }
   .sub_text{
   padding-top: 30px;
   text-align:justify;   
   font-size: 14px;
   font-weight: bold;
  }

  .price{
   text-align:justify;
   padding-bottom:60px;
   padding-top:5px;
   font-size: 14px;
   font-weight:normal;
   color: hsl(220, 15%, 55%);
  }
  .change{
    display:flex;
    flex-direction: column;
    text-decoration:none;
    color:rgba(106, 17, 250, 0.897);
    text-align:end right;
    transform: translate(70px,-900%);
    
  }
  a.cursor{
    text-decoration:none;
    font-size: 14px;
   font-weight:20px;
  }
.button{
  display:block;
  margin-top: 40px;
  border-radius:10px 10px 10px 10px;
  box-shadow:0 15px 20px rgba(120, 102, 204, 0.671);
  background-color:rgba(106, 17, 250, 0.897);
  width: 350px;
  height:40px;
  color: white;
  text-align:center;
  font-size: 16px;
  cursor: pointer;
  }
.delete{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding: 10em;
  text-align: center;
  font-family:RedHatDisplay;
  font-weight: bold;
  font-size: 16px;
}
